html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  font-family: var(--font-main);
  color: var(--color-neutral-2);
}

.container {
  max-width: 1200px;
  padding: 1.56rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--color-neutral-2);
}

h1,
h2,
h3 {
  font-family: "Serif Display";
  line-height: 1;
}

h4 {
  text-transform: uppercase;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  text-transform: uppercase;
  list-style-type: none;

  &:hover {
    opacity: 0.7;
  }
}
