/* Variables */

:root {
  --font-main: "Karla", "Helvetica", "Arial", sans-serif;
  --font-serif: "DM Serif Display", "Georgia", "Times New Roman", serif;
  --color-primary-1: hsl(256, 26%, 20%);
  --color-primary-2: hsl(216, 30%, 68%);
  --color-neutral-1: hsl(270, 9%, 17%);
  --color-neutral-2: hsl(273, 4%, 51%);
  --color-neutral-3: hsl(0, 0%, 98%);
}
