@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

:root {
    --main-color: hsl(256, 26%, 20%);
    --secondary-color: hsl(216, 30%, 68%);

    --title-color: hsl(270, 9%, 17%);
    --body-type-color: hsl(273, 4%, 51%);
    --footer-bg: hsl(0, 0%, 98%);
}

/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

ul {
    list-style: none;
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    color: var(--body-type-color);
    font-weight: 400;
}

h1,
h2,
h3 {
    font-family: 'DM Serif Display', serif;
}

h1 {
    font-weight: 400;
    font-size: 4.5em;
    letter-spacing: 2px;
    position: relative;
    margin: 0;
    padding-top: 75px;
}

h1::before {
    content: '';
    background-color: #fff;
    position: absolute;
    top:0;
    left: 0;
    height: 1px;
    width: 150px;
}

h2 {
    font-weight: 400;
    font-size: 4.5em;
    letter-spacing: 2px;
    color: var(--main-color);
    position: relative;
    padding-top: 75px;
    margin-bottom: 100px;
}

h2::before {
    content: '';
    background-color: var(--main-color);
    position: absolute;
    top:0;
    left: 0;
    height: 1px;
    width: 150px;
}

h3 {
    color: var(--main-color);
    font-size: 1.8em;
    margin-bottom: 20px;
}

.btn {
    background-color: transparent;
    cursor: pointer;
    padding: 13px 30px;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
}

.btn:hover {
    color: var(--main-color);
    background-color: #fff;
}

.btn-reverse {
    background-color: transparent;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: all 0.3s ease
}

.btn-reverse:hover {
    background-color: var(--main-color);
    color: #fff;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 35px;
    width: 1200px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
    margin-bottom: -40px;
}

.flex > div {
    flex:1
}

/* Nav Styles */
nav ul {
    display: flex;
}

nav li {
    margin-left: 30px;
}

nav li a {
    color: var( --body-type-color);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav li a:hover {
    color: var(--main-color);
}

/* Header Styles */

header {
    color: #fff;
    background-color: var( --main-color);
    padding: 50px 0;
    position: relative;
    margin-bottom: 250px;
}

header * {
    z-index: 1;
}

header .left {
    padding-right: 15px;
}

header .left p {
    margin-top: 20px;
    line-height: 1.75;
    letter-spacing: 1px;
}

.header__img__right {
    position: absolute;
    top: 0;
    right: 0;
    height: 80%;
    width: auto;
}

.header__img__left {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 70%;
    transform: translateY(50%);
    width: auto;
    z-index: 0;
}

header .btn {
    margin-top: 30px;
    font-size: 14px;
}

/* other bg placement */

/* header::after {
    content: '';
    background-image: url(./images/bg-pattern-intro-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: absolute;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
} */

/* header::before {
    content: '';
    background-image: url(./images/bg-pattern-intro-left-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom left;
    position: absolute;
    top:0;
    right: 0;
    transform: translateY(50%);
    width: 100%;
    height: 100%;
} */

.header__img {
    margin-bottom: -200px;
}

/* Section Styles */

.were_different {
    margin-bottom: 90px;
}

.were_different p {
    line-height: 1.5;
    padding-right: 20px;
}

.were_different img {
    margin-bottom: 40px; 
}

.bg-violet {
    background-color: var(--main-color);
    margin-bottom: 90px;
    background-image: url(./images/bg-pattern-how-we-work-desktop.svg);
    background-repeat: no-repeat;
    /* background-size: 40% 100%; background stretch */
    background-position: right top;
    padding: 60px 80px;
}


.hww h4 {
    padding: 0;
    font-size: 4em;
    font-family: 'DM Serif Display', serif;
    color: #fff;
    width: 75%;
}


/* Footer Styles */

footer {
    background-color: var(--footer-bg);
    background-image: url(./images/bg-pattern-footer-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left;
    text-transform: uppercase;
    padding: 30px 0;
} 

footer h4 {
    margin-bottom: 40px;
    color: var(--main-color);
}

.social li:not(:last-of-type) {
    margin-right: 20px;
}

.social li:hover a img {
    color: red;
}

footer li {
    margin-bottom: 10px;
}

footer li a {
    color: var(--body-type-color);
    text-decoration: none;
    transition: all 0.3s ease;
}

footer li a:hover {
    color: var(--main-color);
}

.border-bottom {
    padding-bottom: 30px;
    border-bottom: 1px solid var(--body-type-color);
    margin-bottom: 100px;
}

.attribution {
    margin-top: 50px;
}